/* styles.css */
/* From: Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* -------------------------------------------------------------------------
*/
:root {

    font-size: 16px;

    --sticky-note-font-size: 1rem;
    --todoitems-grid-gap: 15px;
    --sticky-note-width: 220px;
    --sticky-note-height: 220px;


    --expand-dots-button-size: 30px;
    --sticky-note-flap-offset-height: 15px;
    --sticky-note-flap-offset-width: 20px;

    --small-button-padding: 4px;

    --task-board-grid-width: calc(1 * var(--sticky-note-width));
    --task-board-grid-height: var(--task-board-grid-width);

    --main-block-border-radius: 30px;

    --content-border-px: 2px;
    --content-border-color: rgb(203, 195, 187);



    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;

    --body-height: 100vh;
    --header-height: 200px;
    --content-height: 750px;

    --announcements-height: calc(0.5 * var(--content-height));
    --trending-height: calc(var(--content-height) - var(--announcements-height));


    --nav-header-size: 1.2rem;
    --nav-header-padding: 19px;
    --nav-li-size: 1.5rem;
    --nav-list-margin-left: 30px;
    --nav-margin-right: calc(var(--nav-list-margin-left) + 20px);

    --nav-font-weight: 600;
    --nav-li-seperator: 15px;

    --nav-section-seperator: 40px;


    /* All Colors */


    --lighter-color: #f1f5f9;
    --lighter-color-font-color: #292524;

    --darker-color: #475569;
    --darker-color-font-color: #e2e8f0;

    --super-dark-bg-color: #0f172a;
    --super-dark-color: #e2e8f0;

    --save-submit-bg-color: #bef264;
    --delete-cancel-bg-color: #ea580c;

    --project-font-color: var(--super-dark-bg-color);


    --header-section-bg-color: var(--lighter-color);
    --header-section-color: var(--super-dark-bg-color);

    --projects-bg-color: var(--darker-color);
    --projects-button-bg-color: var(--lighter-color);
    --projects-button-color: black;
    --projects-nav-title-color: var(--lighter-color);

    --tasks-header-bg-color: var(--darker-color);
    --tasks-header-font-color: var(--darker-color-font-color);

    --tasks-header-btn-bg-color: var(--lighter-color);
    --tasks-header-btn-color: var(--darker-color);

    --header-btn-bg-color: var(--darker-color);
    --header-btn-color: var(--lighter-color);



    --upcoming-bg-color: var(--super-dark-bg-color);
    --upcoming-color: var(--super-dark-color);


    /* --nav-section-bg-color: rgb(40, 142, 201);
    --nav-color: #ffffff;

    --main-page-font-color: #000000;
    --search-bar-bg-color: #dae2e6;

    --project-card-text-color: rgb(95, 95, 95);
    --project-card-side-border-color: rgb(231, 196, 100);
    --card-shadow-color: rgb(136, 136, 136); */

    /* Green Color */

    --header-left-right-margin: 40px;
    --header-section-top-bottom-margin: 20px;


    --header-top-height-percent: 35%;
    --header-bottom-height-percent: calc(100% - var(--header-top-height-percent));

    --border-radii: 10px;



    --upper-right-buttons-width: calc(100% - var(--search-section-width));

    --page-actions-buttons-font-size: 1.5rem;
    --page-actions-buttons-font-weight: 700;
    --page-actions-buttons-height: calc(2 * var(--page-actions-buttons-font-size));

    --profile-name-font-size: 2rem;
    --profile-name-font-weight: 600;



    --content-section-bg-color: var(--search-bar-bg-color);
    --content-section-side-margin: 20px;

    --content-headers-color: var(--main-page-font-color);
    --content-headers-font-size: 2rem;
    --content-headers-font-weight: 600;
    --content-headers-margin-top: 20px;
    --content-headers-margin-bottom: 15px;

    /* Task Board Area*/




}

.acme-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    ;


    color: var(--project-font-color);
    letter-spacing: 0.7px;
}


body {
    display: grid;
    height: var(--body-height);
    grid-template-rows: 1fr 0.4fr 3fr 1.5fr;
    grid-template-columns: 1fr 4fr 1fr;
    position: relative;
    gap: 20px;
    background-image: url('./backgrounds/wall-white-brick.jpg');
    background-size: cover;
    padding: 20px;

    border: 10px solid black;

    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
}

.header {
    background-color: var(--header-section-bg-color);
    color: var(--header-section-color);
    grid-column: 1 / 4;
    padding-left: var(--header-left-right-margin);
    padding-right: var(--header-left-right-margin);
    height: 20vh;
    border-radius: var(--main-block-border-radius);
    border: var(--content-border-px) solid var(--content-border-color);

    display: flex;
    gap: 10px;
    align-items: center;

}

.profile-name {
    font-size: 2.3rem;
}



.reload-session-button,
.save-session-button,
.clear-session-button,
.example-session-button {

    height: 50px;
    padding: 5px;
    border: 1px solid black;

    font-weight: 800;

    flex: 0 0 auto;

}

.save-session-button {
    margin-left: auto;
    background-color: var(--save-submit-bg-color);

}

.clear-session-button {
    background-color: var(--delete-cancel-bg-color);
}

.reload-session-button:hover,
.save-session-button:hover,
.clear-session-button:hover,
.example-session-button:hover {

    height: 50px;
    padding: 5px;
    border: 1px solid black;

    font-weight: 800;

    flex: 0 0 auto;
    transition-duration: 200ms;
    transform: scale(1.1);
}

.search-container label {
    display: flex;
    justify-content: start;

    flex: 0 0 auto;
}

.search-container img {
    display: inline;
    width: var(--search-bar-font-size);
    height: var(--search-bar-font-size);
}

.search-container input {
    flex: 1 1 auto;
    height: var(--search-bar-height);
    max-width: var(--search-bar-max-width);
    min-width: var(--search-bar-min-width);
    margin-left: var(--header-standard-gap);
    border-radius: var(--border-radii);
    padding: 20px;

    border: none;

    background-color: var(--search-bar-bg-color);
    font-size: var(--search-bar-font-size);
}

.upper-right-buttons {
    display: flex;
    width: var(--upper-right-buttons-width);
    margin: var(--header-section-top-bottom-margin);
    align-items: center;
    gap: var(--header-standard-gap);
    margin-right: var(--header-left-right-margin);
    min-height: 90px;
    min-width: 350px;
}

.upper-right-buttons button {
    border: none;
    background-color: var(--header-section-bg-color);
    margin-left: auto;
}

.upper-right-buttons a {
    color: var(--main-page-font-color);
    font-size: var(--profile-name-font-size);
    font-weight: var(--profile-name-font-weight);
    text-decoration: none;
    white-space: nowrap;
}

.page-actions {
    list-style-type: none;
    display: flex;
    gap: var(--header-standard-gap);
    align-items: center;
    margin-left: auto;
    margin-right: var(--header-left-right-margin);
    position: relative;
    top: 10px;
}

.page-actions button {
    width: 110px;
    height: var(--page-actions-buttons-height);

    font-size: var(--page-actions-buttons-font-size);
    font-weight: var(--page-actions-buttons-font-weight);
    color: var(--nav-color);
    background-color: var(--nav-section-bg-color);

    border: none;
    border-radius: var(--border-radii);

    transition: 0.2s;
}

.page-actions button:hover {
    transform: scale(1.1);
}

/*-------------------------------------- */

button {
    border-radius: var(--border-radii);
}

h2 {
    font-size: 1.6rem;
    color: var(--projects-nav-title-color);
}

.project-nav {
    background-color: var(--nav-section-bg-color);
    grid-row: 2 / 5;
    font-weight: var(--nav-font-weight);
    overflow-y: auto;
    min-width: 260px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    background-color: var(--projects-bg-color);
    border-radius: var(--main-block-border-radius);
    border: var(--content-border-px) solid var(--content-border-color);
}

.project-nav-button {
    padding: 5px;
    font-weight: 500;
    width: 180px;

    margin-left: 10px;

    font-size: 1.3rem;


    background-color: var(--lighter-color);


}

.project-nav-button:hover {
    transition-duration: 200ms;
    transform: scale(1.1);

}


.project-nav-button.current-project {
    padding: 5px;
    font-weight: 900;
}

.nav-header {

    display: flex;
    padding: var(--nav-header-padding);

    color: var(--nav-color);
    font-size: var(--nav-header-size);
}

.new-project-button {
    background-color: var(--lighter-color);
    margin-left: auto;
    font-size: 1.1rem;
    padding: 4px;

}

.new-project-button:hover {
    transition-duration: 200ms;
    transform: scale(1.05);
}

.navigation ul {
    margin-bottom: var(--nav-section-seperator);
    margin-left: var(--nav-list-margin-left);
    margin-right: var(--nav-list-margin-left);
    list-style-type: none;
}

.navigation li {
    display: grid;
    grid-template-columns: 40px auto;
    justify-items: start;
    align-items: center;
    margin-bottom: var(--nav-li-seperator);
}

.navigation img {
    color: var(--nav-color);
}

.navigation a {
    color: var(--nav-color);
    font-size: var(--nav-li-size);
    text-decoration: none;
}

/*-------------------------------------- */

/* .tasks-projects-display {
    display: flex;
    width: 100vw;
    height: 80vh;
    background-color: antiquewhite;
} */

.tasks-board-container {
    grid-row: 2 / 5;
    background-image: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(204, 204, 208) 100%);
    border: var(--content-border-px) solid var(--content-border-color);
    padding: 20px;
    border-radius: var(--main-block-border-radius);
    display: flex;
    flex-direction: column;
}


.tasks-header {
    display: flex;
    background-color: var(--tasks-header-bg-color);
    color: var(--tasks-header-font-color);
    padding: 10px;
    border-radius: var(--main-block-border-radius);
    border: var(--content-border-px) solid var(--content-border-color);
}

.tasks-header button {
    margin-left: auto;
    padding: 4px;
    background-color: var(--tasks-header-btn-bg-color);
    color: var(--tasks-header-btn-color);
    font-size: 1.4rem;
}


.tasks-header button:hover {
    transition-duration: 200ms;
    transform: scale(1.05);
}

.tasks-board-descriptor {

    color: var(--super-dark-bg-color);
    margin-bottom: 5px;
    padding: 5px;

}

h3 {
    font-size: 1.2rem;
}



.tasks-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--task-board-grid-width));
    grid-template-rows: var(--task-board-grid-height);
    gap: var(--todoitems-grid-gap);
    /* height:100%; */


    /* background-color: white; */
    overflow-y: auto;


}

.toggle-completed-tasks-button {
    margin-top: auto;
    width: 200px;
    margin-left: auto;
}

.task-board-title .acme-regular {
    color: inherit;
    margin-left: 10px;
    font-size: 2rem;
}

.sticky-note {
    font-size: var(--sticky-note-font-size);
    width: var(--sticky-note-width);
    height: var(--sticky-note-height);

    display: flex;
    flex-direction: column;

    justify-self: center;
    align-self: center;

    border-radius: 0px;

    position: relative;

    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;

    /* overflow-y:auto; */

}

.sticky-note-completed-marker {
    position: absolute;
    rotate: 45deg;
}

.sticky-note.yellow,
.sticky-note.blue,
.sticky-note.purple,
.sticky-note.green {
    background-size: cover;
}

.sticky-note.yellow {
    background-image: url("./icons/postit_yellow.svg");
}

.sticky-note.blue {
    background-image: url("./icons/postit_blue.svg");
}

.sticky-note.purple {
    background-image: url("./icons/postit_purple.svg");
}

.sticky-note.green {
    background-image: url("./icons/postit_green.svg");
}


.sticky-note p {
    padding: 3px;
}

.sticky-note-buttons-row {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 3px;
}


.sticky-note button {
    padding: 2px;
    width: 45px;
    text-align: center;
    font-size: .7rem;
    background-color: var(--lighter-color);
    border: 1px solid black;
}

.sticky-note button:nth-child(1) {
    width: 60px;
    background-color: var(--delete-cancel-bg-color);
}


.sticky-note button:nth-child(2) {
    width: 60px;
    background-color: var(--save-submit-bg-color);
}


.new-task-button {
    padding: 2px;
    text-align: center;
    color: #ffffff;
    background-color: var(--projects-bg-color);
    border: 1px solid black;
    margin-right: 10px;
}

.sticky-note .expand-dots-button {
    background-image: url("./icons/menu.svg");
    background-size: cover;
    position: absolute;
    width: var(--expand-dots-button-size);
    height: var(--expand-dots-button-size);
    left: calc(var(--sticky-note-width) - (var(--sticky-note-flap-offset-width)) - var(--expand-dots-button-size) / 2);
    top: calc(var(--sticky-note-height) - (var(--sticky-note-flap-offset-height)) - var(--expand-dots-button-size) / 2);
    border: none;
    background-color: transparent;
}

.dots-menu {
    position: absolute;
    left: calc(var(--sticky-note-width) * .75);
    top: 0px;
    background-color: var(--lighter-color);
    color: var(--lighter-color-font-color);
    border: 2px solid var(--lighter-color-font-color);
    width: 250px;
    height: 200px;
    padding: 15px;
    z-index: 10;
}

.sticky-note button:hover {
    transition-duration: 200ms;
    transform: scale(1.1);

}


.input-row {
    padding: 7px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.card {
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);

    flex: 1 1 auto;
    max-width: 350px;

    border-radius: var(--card-edge-radius);
    background-color: var(--card-bg-color);
    box-shadow: 5px 5px var(--card-shadow-color);

    transition: 0.2s;
}

.projects .card:hover {
    transform: translateY(-5px);
}

.projects .card {
    border-left: var(--project-card-side-border-width) solid var(--project-card-side-border-color);
    height: 200px;
    flex: 0 0 auto;
}

.content-section-titles {
    color: var(--content-headers-color);
    font-size: var(--content-headers-font-size);
    font-weight: var(--content-headers-font-weight);
    margin-top: var(--content-headers-margin-top);
    margin-bottom: var(--content-headers-margin-bottom);
    text-wrap: nowrap;
}


.task-form-dialog {
    font-size: 18px;
    position: absolute;
    top: 20vh;
    left: 35vw;
    width: 500px;
    height: 600px;
    padding: 20px;

    background-color: var(--lighter-color);

}

.to-do-input-form>:nth-child(6) {
    flex-direction: row;
}

.form-cancel-button {
    margin-left: auto;
    background-color: var(--delete-cancel-bg-color);
    padding: var(--small-button-padding);
}

.form-submit-button {
    background-color: var(--save-submit-bg-color);
    padding: var(--small-button-padding);
}


.project-form-dialog {
    font-size: 18px;
    position: absolute;
    top: 25vh;
    left: 17vw;
    width: 400px;
    /* height: 450px; */
    padding: 20px;
    background-color: var(--lighter-color);
}

.project-input-form>:nth-child(2) {
    flex-direction: row;
}

/*-------------------------------------- */

.upcoming {
    /* height: var(--announcements-height); */
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    background-color: var(--upcoming-bg-color);
    color: var(--upcoming-color);
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 5px;
    border-radius: var(--main-block-border-radius);
    border: var(--content-border-px) solid var(--content-border-color);

    overflow-y: auto;
}

.upcoming-item {
    padding: 10px;
    background-color: var(--lighter-color);
    color: black;
    border-radius: 15px;
    margin: 5px;
}

.upcoming-task-name {
    font-weight: 500;

}

.upcoming-project-name {
    font-weight: 700;

}

.upcoming .card-title {
    font-weight: var(--announcement-title-font-weight);
}

.upcoming-content {
    color: var(--announcement-content-color);
    font-size: var(--announcement-content-font-size);
}

/* 
@media (max-width: 425px) {
    :root {
        font-size: 12px;
    }
} */