/* styles.css */
/* From: Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* -------------------------------------------------------------------------
*/
:root {

    font-size: 16px;

    --sticky-note-font-size: 0.8rem;
    --todoitems-grid-gap: 15px;
    --sticky-note-width: 180px;
    --sticky-note-height: 180px;
    

    --expand-dots-button-size: 30px;
    --sticky-note-flap-offset-height: 15px;
    --sticky-note-flap-offset-width: 20px;

    --small-button-padding: 4px;

    --task-board-grid-width: calc(1 * var(--sticky-note-width));
    --task-board-grid-height: var(--task-board-grid-width);
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;

    --body-height: 100vh;
    --header-height: 200px;
    --content-height: 750px;

    --announcements-height: calc(0.5 * var(--content-height));
    --trending-height: calc(var(--content-height) - var(--announcements-height));


    --nav-header-size: 1.2rem;
    --nav-header-padding: 19px;
    --nav-li-size: 1.5rem;
    --nav-list-margin-left: 30px;
    --nav-margin-right: calc(var(--nav-list-margin-left) + 20px);

    --nav-font-weight: 600;
    --nav-li-seperator: 15px;

    --nav-section-seperator: 40px;


    /* All Colors */

    --lighter-color: #fed7aa;
    --lighter-color-font-color: #292524;
    --projects-bg-color: #92400e;
    --projects-button-bg-color: var(--lighter-color);
    --projects-button-color: black;

    --tasks-header-bg-color:var(--lighter-color);
    --incomplete-tasks-bg-color:#b45309;
    --completed-tasks-bg-color:var(--lighter-color);

    --upcoming-bg-color:#78350f;



    /* --nav-section-bg-color: rgb(40, 142, 201);
    --nav-color: #ffffff;

    --main-page-font-color: #000000;
    --search-bar-bg-color: #dae2e6;

    --project-card-text-color: rgb(95, 95, 95);
    --project-card-side-border-color: rgb(231, 196, 100);
    --card-shadow-color: rgb(136, 136, 136); */

    /* Green Color */
    --nav-section-bg-color: #a4b111;
    --nav-color: #ffffff;

    --main-page-font-color: #0a0a0a;
    --search-bar-bg-color: #dcfce7;

    --project-card-text-color: #1c1917;
    --project-card-side-border-color: #7c2d12;
    --card-shadow-color: rgb(136, 136, 136);


    --header-standard-gap: 35px;
    --header-section-bg-color: var(--nav-color);
    --header-left-right-margin: 40px;
    --header-section-top-bottom-margin: 20px;

    --header-top-height-percent: 35%;
    --header-bottom-height-percent: calc(100% - var(--header-top-height-percent));

    --search-section-width: 40%;
    --search-bar-height: 3rem;
    --border-radii: 10px;


    --search-bar-max-width: 400px;
    --search-bar-min-width: 200px;

    --search-bar-font-size: 1.65rem;


    --upper-right-buttons-width: calc(100% - var(--search-section-width));

    --page-actions-buttons-font-size: 1.5rem;
    --page-actions-buttons-font-weight: 700;
    --page-actions-buttons-height: calc(2 * var(--page-actions-buttons-font-size));

    --profile-name-font-size: 2rem;
    --profile-name-font-weight: 600;



    --content-section-bg-color: var(--search-bar-bg-color);
    --content-section-side-margin: 20px;

    --content-headers-color: var(--main-page-font-color);
    --content-headers-font-size: 2rem;
    --content-headers-font-weight: 600;
    --content-headers-margin-top: 20px;
    --content-headers-margin-bottom: 15px;

    --project-card-title-color: var(--main-page-font-color);
    --project-card-title-font-size: 1.6rem;
    --project-card-title-font-weight: 600;


    --project-card-text-font-size: 1.1rem;

    
    /* --project-card-text-font-weight: 600; */


    --project-card-side-border-width: 10px;

    --card-edge-radius: 20px;
    --card-padding: 20px;
    --card-bg-color: var(--header-section-bg-color);
    --card-title-margin-bottom: 0px;


    --card-actions-gap: 10px;

    --announcement-title-color: var(--main-page-font-color);
    --announcement-title-font-size: 1.1rem;
    --announcement-title-font-weight: var(--project-card-title-font-weight);
    --announcement-content-color: var(--project-card-text-color);
    --announcement-content-font-size: 1rem;

    --trending-font-size: 1rem;
    --trending-name-color: var(--main-page-font-color);
    --trending-name-font-weight: 500;

    --trending-description-color: var(--project-card-text-color);



}


body {
    display: grid;
    height: var(--body-height);
    grid-template-rows: 1fr 0.4fr 3fr 1.5fr;
    grid-template-columns: 1fr 4fr 1fr;
    position: relative;
}

.header {
    background-color: var(--header-section-bg-color);
    grid-column: 1 / 4;
    padding-left: var(--header-left-right-margin);
    padding-right: var(--header-left-right-margin);
    height: 20vh;

    

}

.reload-session-button{
    margin-left:auto;

    width: 300px;
    height: 50px;

    background-color: var(--lighter-color);
    border: 1px solid black;

    font-weight: 800;

    flex: 0 0 auto;

}

.reload-session-button:first-child{
    margin-left: auto;
}



.headerTop {
    display: flex;
    height: var(--header-top-height-percent);
    justify-content: space-between;
    align-items: center;
}
.search-container {
    display: flex;
    justify-content: start;
    align-items: center;

    margin-right: var(--header-left-right-margin);
    width: 60%;
    min-width: calc(var(--search-bar-min-width) * 1.2);

    overflow: hidden;

}
.search-container label {
    display: flex;
    justify-content: start;

    flex: 0 0 auto;
}
.search-container img {
    display: inline;
    width: var(--search-bar-font-size);
    height: var(--search-bar-font-size);
}
.search-container input {
    flex: 1 1 auto;
    height: var(--search-bar-height);
    max-width: var(--search-bar-max-width);
    min-width: var(--search-bar-min-width);
    margin-left: var(--header-standard-gap);
    border-radius: var(--border-radii);
    padding: 20px;

    border: none;

    background-color: var(--search-bar-bg-color);
    font-size: var(--search-bar-font-size);
}
.upper-right-buttons {
    display: flex;
    width: var(--upper-right-buttons-width);
    margin: var(--header-section-top-bottom-margin);
    align-items: center;
    gap: var(--header-standard-gap);
    margin-right: var(--header-left-right-margin);
    min-height: 90px;
    min-width: 350px;
}
.upper-right-buttons button {
    border: none;
    background-color: var(--header-section-bg-color);
    margin-left: auto;
}
.upper-right-buttons a {
    color: var(--main-page-font-color);
    font-size: var(--profile-name-font-size);
    font-weight: var(--profile-name-font-weight);
    text-decoration: none;
    white-space: nowrap;
}
.headerBottom {
    display: flex;
    height: var(--header-bottom-height-percent);
    gap: 20px;
    align-items: center;
}
.page-actions {
    list-style-type: none;
    display: flex;
    gap: var(--header-standard-gap);
    align-items: center;
    margin-left: auto;
    margin-right: var(--header-left-right-margin);
    position: relative;
    top: 10px;
}
.page-actions button {
    width: 110px;
    height: var(--page-actions-buttons-height);

    font-size: var(--page-actions-buttons-font-size);
    font-weight: var(--page-actions-buttons-font-weight);
    color: var(--nav-color);
    background-color: var(--nav-section-bg-color);

    border: none;
    border-radius: var(--border-radii);

    transition: 0.2s;
}
.page-actions button:hover {
    transform: scale(1.1);
}

/*-------------------------------------- */

button{
    border-radius: var(--border-radii);
}



.project-nav{
    background-color: var(--nav-section-bg-color);
    grid-row: 2 / 5;
    font-weight: var(--nav-font-weight);
    overflow-y: auto;
    min-width: 260px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    background-color: var(--projects-bg-color);
}

.project-nav-button{
    padding: 5px;
    font-weight: 800;
    width: 150px;
    align-self: center;

    color: var(--projects-button-color);
    background-color: var(--lighter-color);
}


.project-nav-button.current-project{
    padding: 5px;
    font-weight: 900;
}

.nav-header {

    display: flex;
    padding: var(--nav-header-padding);

    color: var(--nav-color);
    font-size: var(--nav-header-size);
}

.new-project-button{
    background-color: var(--lighter-color);
    margin-left: auto;
    padding: 4px;
    
}

.new-project-button:hover{
    transition-duration: 200ms;
    transform: scale(1.05);
}

.navigation ul {
    margin-bottom: var(--nav-section-seperator);
    margin-left: var(--nav-list-margin-left);
    margin-right: var(--nav-list-margin-left);
    list-style-type: none;
}

.navigation li {
    display: grid;
    grid-template-columns: 40px auto;
    justify-items: start;
    align-items: center;
    margin-bottom: var(--nav-li-seperator);
}

.navigation img {
    color: var(--nav-color);
}

.navigation a {
    color: var(--nav-color);
    font-size: var(--nav-li-size);
    text-decoration: none;
}

/*-------------------------------------- */

/* .tasks-projects-display {
    display: flex;
    width: 100vw;
    height: 80vh;
    background-color: antiquewhite;
} */


.tasks-header {
    display:flex;
    background-color: var(--tasks-header-bg-color);
    padding: 20px;

}
.tasks-header button{
    margin-left: auto;
    padding: 4px;
}
.tasks-header button:hover{
    transition-duration: 200ms;
    transform: scale(1.05);
}

.incomplete-tasks-board,
.complete-tasks-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--task-board-grid-width));
    grid-template-rows: var(--task-board-grid-height);
    gap: var(--todoitems-grid-gap);
    padding: 20px;

}

.incomplete-tasks-board {
    background-color: var(--incomplete-tasks-bg-color);
    overflow-y: auto;
}

.complete-tasks-board {
    background-color:var(--completed-tasks-bg-color);
    overflow-y: auto;
}

.sticky-note {
    font-size: var(--sticky-note-font-size);
    width: var(--sticky-note-width);
    height: var(--sticky-note-height);

    display:flex; 
    flex-direction: column;

    justify-self: center;
    align-self: center;

    border-radius:0px;
}

.sticky-note.yellow, 
.sticky-note.blue, 
.sticky-note.purple,
.sticky-note.green{
    background-size: cover;
}

.sticky-note.yellow {
    background-image: url("./icons/postit_yellow.svg");
}

.sticky-note.blue {
    background-image: url("./icons/postit_blue.svg");
}

.sticky-note.purple {
    background-image: url("./icons/postit_purple.svg");
}

.sticky-note.green {
    background-image: url("./icons/postit_green.svg");
}


.sticky-note p {
    padding: 3px;
}
 
.sticky-note-buttons-row{
    display:flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 3px;
}


.sticky-note button{
    padding: 2px;
    width: 45px;
    text-align: center;
    font-size: .7rem;
    background-color: var(--lighter-color);
    border: 1px solid black;
}

.new-task-button{
    padding: 2px;
    text-align: center;
    color: #ffffff;
    background-color: var(--projects-bg-color);
    border: 1px solid black;
}

.sticky-note .expand-dots-button{
    background-image: url("./icons/menu.svg");
    background-size: cover;
    position: absolute;
    width: var( --expand-dots-button-size);
    height: var( --expand-dots-button-size);
    left: calc(var(--sticky-note-width) - (var(--sticky-note-flap-offset-width)) - var(--expand-dots-button-size) / 2 );
    top: calc(var(--sticky-note-height) - (var(--sticky-note-flap-offset-height)) - var(--expand-dots-button-size) / 2 );
    border:none;
    background-color: transparent;
} 

.dots-menu{
    position: absolute;
    left: calc(var(--sticky-note-width) * .75);
    top: 0px;
    background-color:var(--lighter-color);
    color: var(--lighter-color-font-color);
    border: 2px solid var(--lighter-color-font-color);
    width: 250px;
    height: 200px;
    padding: 15px;
    z-index: 10;
}

.dots-menu button{

}

.sticky-note button:hover{
    transition-duration: 200ms;
    transform: scale(1.1);
    
}

.input-row {
    padding: 7px;
    display: flex;
    gap: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);

    flex: 1 1 auto;
    max-width: 350px;

    border-radius: var(--card-edge-radius);
    background-color: var(--card-bg-color);
    box-shadow: 5px 5px var(--card-shadow-color);

    transition: 0.2s;
}

.projects .card:hover {
    transform: translateY(-5px);
}

.projects .card {
    border-left: var(--project-card-side-border-width) solid var(--project-card-side-border-color);
    height: 200px;
    flex: 0 0 auto;
}

.card-title {
    color: var(--project-card-title-color);
    margin-bottom: var(--card-title-margin-bottom);
}

.projects .card-title {
    font-size: var(--project-card-title-font-size);
    font-weight: var(--project-card-title-font-weight);
}

.card-content {
    color: var(--project-card-text-color);
    flex: 1;
    overflow-y: hidden;
}

.projects .card-content {
    font-size: var(--project-card-text-font-size);
    padding-right: 70px;
}

.card-actions {
    list-style-type: none;
    display: flex;
    gap: var(--card-actions-gap);
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;

}

.card-actions img {
    height: 20px;
    width: 20px;
}

.projects-tabs {
    display: flex;
}

.content-section-titles {
    color: var(--content-headers-color);
    font-size: var(--content-headers-font-size);
    font-weight: var(--content-headers-font-weight);
    margin-top: var(--content-headers-margin-top);
    margin-bottom: var(--content-headers-margin-bottom);
    text-wrap: nowrap;
}


.task-form-dialog {
    font-size: 18px;
    position: absolute;
    top: 30vh;
    left: 35vw;
    width: 500px;
    height: 450px;
    padding: 20px;

    background-color: var(--lighter-color);

}

.form-cancel-button{
    margin-left:auto;
    background-color: #ea580c;
    padding: var(--small-button-padding);
}

.form-submit-button{
    background-color: #bef264;
    padding: var(--small-button-padding);
}


.project-form-dialog {
    font-size: 18px;
    position: absolute;
    top: 25vh;
    left: 17vw;
    width: 400px;
    /* height: 450px; */
    padding: 20px;
    background-color: var(--lighter-color);
}

/*-------------------------------------- */

.upcoming {
    /* height: var(--announcements-height); */
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    background-color: var(--upcoming-bg-color);
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 5px;
}

.upcoming-item{
 padding: 10px;
 background-color: var(--lighter-color);
 color: black;
 border-radius: 15px;
}

.upcoming-task-name{
    font-weight:500;

}

.upcoming-project-name{
    font-weight:700;
    font-style: italic;
}

.upcoming .card-title {
    font-weight: var(--announcement-title-font-weight);
}

.upcoming-content {
    color: var(--announcement-content-color);
    font-size: var(--announcement-content-font-size);
}

/* .announcement-content:last-child{
    color: var(--announcement-content-color);
    font-size: var(--announcement-content-font-size);
    padding-bottom: 10px;
    border-bottom: none;
} */

.announcements ul {
    list-style-type: none;
    overflow-y: auto;
}

.announcements li {
    border-bottom: 2px solid var(--search-bar-bg-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.announcements li:last-child {
    border-bottom: none;
}


.headerBottom .profile-box {
    height: 100%;
}

.profile-box {
    display: flex;
    align-items: center;
    min-width: fit-content;

}

.profile-box img {
    position: relative;
    height: 50%;
    width: auto;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;

}

.profile-box .top {
    text-wrap: nowrap;
    font-size: 100%;
    font-weight: 700;

}

.profile-box .bottom {
    text-wrap: nowrap;
    font-size: 200%;
    font-weight: 700;

}

#profile-tag {
    text-wrap: nowrap;
    font-size: 1rem;
    color: var(--trending-name-color);
}

#profile-name {
    text-wrap: nowrap;
    font-size: 1rem;
    color: var(--trending-description-color);

}

/* 
@media (max-width: 425px) {
    :root {
        font-size: 12px;
    }
} */