/* styles.css */
/* From: Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

/* -------------------------------------------------------------------------
*/
:root {

    font-size: 16px;

    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;

    --body-height: 100vh;
    --header-height: 200px;
    --content-height: 750px;

    --announcements-height: calc(0.5 * var(--content-height));
    --trending-height: calc(var(--content-height) - var(--announcements-height));


    --nav-header-size: 2rem;
    --nav-header-padding: 19px;
    --nav-li-size: 1.5rem;
    --nav-list-margin-left: 30px;
    --nav-margin-right: calc(var(--nav-list-margin-left) + 20px);

    --nav-font-weight: 600;
    --nav-li-seperator: 15px;

    --nav-section-seperator: 40px;


    /* All Colors */
    /* --nav-section-bg-color: rgb(40, 142, 201);
    --nav-color: #ffffff;

    --main-page-font-color: #000000;
    --search-bar-bg-color: #dae2e6;

    --project-card-text-color: rgb(95, 95, 95);
    --project-card-side-border-color: rgb(231, 196, 100);
    --card-shadow-color: rgb(136, 136, 136); */

    /* Green Color */
    --nav-section-bg-color: #16a34a;
    --nav-color: #ffffff;

    --main-page-font-color: #0a0a0a;
    --search-bar-bg-color: #dcfce7;

    --project-card-text-color: #1c1917;
    --project-card-side-border-color: #7c2d12;
    --card-shadow-color: rgb(136, 136, 136);


    --header-standard-gap: 35px;
    --header-section-bg-color: var(--nav-color);
    --header-left-right-margin: 40px;
    --header-section-top-bottom-margin: 20px;

    --header-top-height-percent: 35%;
    --header-bottom-height-percent: calc(100% - var(--header-top-height-percent));

    --search-section-width: 40%;
    --search-bar-height: 3rem;
    --border-radii: 20px;
    --search-bar-max-width: 400px;
    --search-bar-min-width: 200px;

    --search-bar-font-size: 1.65rem;


    --upper-right-buttons-width: calc(100% - var(--search-section-width));

    --page-actions-buttons-font-size: 1.5rem;
    --page-actions-buttons-font-weight: 700;
    --page-actions-buttons-height: calc(2 * var(--page-actions-buttons-font-size));

    --profile-name-font-size: 2rem;
    --profile-name-font-weight: 600;



    --content-section-bg-color: var(--search-bar-bg-color);
    --content-section-side-margin: 20px;

    --content-headers-color: var(--main-page-font-color);
    --content-headers-font-size: 2rem;
    --content-headers-font-weight: 600;
    --content-headers-margin-top: 20px;
    --content-headers-margin-bottom: 15px;

    --project-card-title-color: var(--main-page-font-color);
    --project-card-title-font-size: 1.6rem;
    --project-card-title-font-weight: 600;


    --project-card-text-font-size: 1.1rem;

    --projects-grid-gap: 25px;
    /* --project-card-text-font-weight: 600; */


    --project-card-side-border-width: 10px;

    --card-edge-radius: 20px;
    --card-padding: 20px;
    --card-bg-color: var(--header-section-bg-color);
    --card-title-margin-bottom: 0px;


    --card-actions-gap: 10px;

    --announcement-title-color: var(--main-page-font-color);
    --announcement-title-font-size: 1.1rem;
    --announcement-title-font-weight: var(--project-card-title-font-weight);
    --announcement-content-color: var(--project-card-text-color);
    --announcement-content-font-size: 1rem;

    --trending-font-size: 1rem;
    --trending-name-color: var(--main-page-font-color);
    --trending-name-font-weight: 500;

    --trending-description-color: var(--project-card-text-color);



}


body {
    /* display: grid; */
    height: var(--body-height);
    /* grid-template-rows: 200px 750px;
    grid-template-columns: max(250, 1fr) 80vw; */
    position: relative;
}

.navigation {
    background-color: var(--nav-section-bg-color);
    /* grid-row: 1 / 3; */
    font-weight: var(--nav-font-weight);
    overflow-y: auto;
    min-width: 260px;
}

.nav-header {
    display: grid;
    grid-template-columns: 50px auto;
    margin-bottom: var(--nav-section-seperator);
    justify-items: start;
    align-items: center;

    padding: var(--nav-header-padding);
    margin-right: var(--nav-margin-right);

    color: var(--nav-color);
    font-size: var(--nav-header-size);
}

.navigation ul {
    margin-bottom: var(--nav-section-seperator);
    margin-left: var(--nav-list-margin-left);
    margin-right: var(--nav-list-margin-left);
    list-style-type: none;
}

.navigation li {
    display: grid;
    grid-template-columns: 40px auto;
    justify-items: start;
    align-items: center;
    margin-bottom: var(--nav-li-seperator);
}

.navigation img {
    color: var(--nav-color);
}

.navigation a {
    color: var(--nav-color);
    font-size: var(--nav-li-size);
    text-decoration: none;
}





.header {
    background-color: var(--header-section-bg-color);
    grid-column: 1 / 3;
    padding-left: var(--header-left-right-margin);
    padding-right: var(--header-left-right-margin);
    height: 200px;

}

.headerTop {
    display: flex;
    height: var(--header-top-height-percent);
    justify-content: space-between;
    align-items: center;
}



.search-container {
    display: flex;
    justify-content: start;
    align-items: center;

    margin-right: var(--header-left-right-margin);
    width: 60%;
    min-width: calc(var(--search-bar-min-width) * 1.2);

    overflow: hidden;

}

.search-container label {
    display: flex;
    justify-content: start;

    flex: 0 0 auto;
}

.search-container img {
    display: inline;
    width: var(--search-bar-font-size);
    height: var(--search-bar-font-size);
}


.search-container input {
    flex: 1 1 auto;
    height: var(--search-bar-height);
    max-width: var(--search-bar-max-width);
    min-width: var(--search-bar-min-width);
    margin-left: var(--header-standard-gap);
    border-radius: var(--border-radii);
    padding: 20px;

    border: none;

    background-color: var(--search-bar-bg-color);
    font-size: var(--search-bar-font-size);
}

.upper-right-buttons {
    display: flex;
    width: var(--upper-right-buttons-width);
    margin: var(--header-section-top-bottom-margin);
    align-items: center;
    gap: var(--header-standard-gap);
    margin-right: var(--header-left-right-margin);
    min-height: 90px;
    min-width: 350px;
}

.upper-right-buttons button {
    border: none;
    background-color: var(--header-section-bg-color);
    margin-left: auto;
}

.upper-right-buttons a {
    color: var(--main-page-font-color);
    font-size: var(--profile-name-font-size);
    font-weight: var(--profile-name-font-weight);
    text-decoration: none;
    white-space: nowrap;
}



.headerBottom {
    display: flex;
    height: var(--header-bottom-height-percent);
    gap: 20px;
}



.page-actions {
    list-style-type: none;
    display: flex;
    gap: var(--header-standard-gap);
    align-items: center;
    margin-left: auto;
    margin-right: var(--header-left-right-margin);
    position: relative;
    top: 10px;
}

.page-actions button {
    width: 110px;
    height: var(--page-actions-buttons-height);

    font-size: var(--page-actions-buttons-font-size);
    font-weight: var(--page-actions-buttons-font-weight);
    color: var(--nav-color);
    background-color: var(--nav-section-bg-color);

    border: none;
    border-radius: var(--border-radii);

    transition: 0.2s;
}


.page-actions button:hover {
    transform: scale(1.1);
}




.content {

    background-color: var(--content-section-bg-color);
    padding-right: var(--content-section-side-margin);

}


.tasks-board {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    height: 1000px;
}

.tasks-header{
background-color: #dcfce7;
padding: 20px;

}

.incomplete-tasks-board,.complete-tasks-board{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: var(--projects-grid-gap);
    padding: 20px;
}

.incomplete-tasks-board{
 background-color: #16a34a;
}

.complete-tasks-board{
background-color: antiquewhite;
   
}

.sticky-note{

    width: 300px;
    height: 300px;
    
}

.content-section-titles {
    color: var(--content-headers-color);
    font-size: var(--content-headers-font-size);
    font-weight: var(--content-headers-font-weight);
    margin-top: var(--content-headers-margin-top);
    margin-bottom: var(--content-headers-margin-bottom);
    text-wrap: nowrap;
}

.projects-box {
    display: grid;
    /* grid-template: 1fr 1fr  1fr / 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: var(--projects-grid-gap);
}

.new-task-form-dialog{
    position: absolute;
    top: 25vh;
    left: 25vw;
    width: 300px;
    padding: 20px;

}

.card {
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);

    flex: 1 1 auto;
    max-width: 350px;

    border-radius: var(--card-edge-radius);
    background-color: var(--card-bg-color);
    box-shadow: 5px 5px var(--card-shadow-color);

    transition: 0.2s;
}

.projects .card:hover{
    transform: translateY(-5px);
}

.projects .card {
    border-left: var(--project-card-side-border-width) solid var(--project-card-side-border-color);
    height: 200px;
    flex: 0 0 auto;
}

.card-title {
    color: var(--project-card-title-color);
    margin-bottom: var(--card-title-margin-bottom);
}

.projects .card-title {
    font-size: var(--project-card-title-font-size);
    font-weight: var(--project-card-title-font-weight);
}

.card-content {
    color: var(--project-card-text-color);
    flex: 1;
    overflow-y: hidden;
}

.projects .card-content {
    font-size: var(--project-card-text-font-size);
    padding-right: 70px;
}


.card-actions {
    list-style-type: none;
    display: flex;
    gap: var(--card-actions-gap);
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;

}


.card-actions img {
    height: 20px;
    width: 20px;
}

.announcements {
    height: var(--announcements-height);
}

.announcements .card {

    height: 70%;

}

.announcements .card-title {
    font-weight: var(--announcement-title-font-weight);
}

.announcement-content {
    color: var(--announcement-content-color);
    font-size: var(--announcement-content-font-size);
}

/* .announcement-content:last-child{
    color: var(--announcement-content-color);
    font-size: var(--announcement-content-font-size);
    padding-bottom: 10px;
    border-bottom: none;
} */

.announcements ul {
    list-style-type: none;
    overflow-y: auto;
}

.announcements li {
    border-bottom: 2px solid var(--search-bar-bg-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.announcements li:last-child {
    border-bottom: none;
}

.headerBottom .profile-box {
    height: 100%;
}

.profile-box {
    display: flex;
    align-items: center;
    min-width: fit-content;

}

.profile-box img {
    position: relative;
    height: 50%;
    width: auto;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;

}

.profile-box .top {
    text-wrap: nowrap;
    font-size: 100%;
    font-weight: 700;

}

.profile-box .bottom {
    text-wrap: nowrap;
    font-size: 200%;
    font-weight: 700;

}

#profile-tag {
    text-wrap: nowrap;
    font-size: 1rem;
    color: var(--trending-name-color);
}

#profile-name {
    text-wrap: nowrap;
    font-size: 1rem;
    color: var(--trending-description-color);

}

.trending {
    height: var(--trending-height);
}

.trending .card {
    height: 70%;
}

.trending img {
    position: relative;
    height: 60px;
    width: auto;
}

.trending ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    list-style-type: none;

}

.trending ul {
    overflow-y: scroll;
}
@media (max-width: 425px) {
   :root {
       font-size: 12px;
    }
}